@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.center {
    text-align: center;
    padding-top: 42px;
}

.btn1 {
    margin-right: 40px;

}

.btn2 {
    margin-right: 40px;

}

.btn3 {
    margin-right: 40px;

}

.btn4 {
    margin-right: 40px;

}